@import "components/CharacterCard/CharacterCard.css";
@import "components/SearchBar/SearchBar.css";
@import "components/NavButton/NavButton.css";
@import "components/NavPagination/NavPagination.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #0d1117	;
  --color-primary: #58a6ff;
  --color-secondary: #1f2833;
  --color-muted: #c5c6c7;
  --color-text: #f8f8f8;
  --color-accent: #6bb7da;
  --color-accent-hover: #519ec7;
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 2rem;
  background-color: var(--color-bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.title {
  padding: 1rem 0;
  text-align: center;
}
